@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #3da9fc;
  --dar-bg: #202020;
  --card-bg: #16161a;
  --text-white: #fff;
  --text-gray: #94a1b2;
}
body {
  background: url("./imagenes/MessiConLaTercera.png") no-repeat center/cover;
  font-family: "Inter";
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  background: var(--card-bg);
  padding: 0.5rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  /* glassmorphism */
  background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
  border: 1px solid #ffffff4b;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  transition: all 0.7 ease;
  box-shadow: 0 7px 20px 5px #000;
  overflow: hidden;
}
.card__img {
  max-width: 300px;
  border-radius: 0.8rem;
}
.card__info {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 30px;
}
.card__user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("./imagenes/La\ tercera.jpeg") no-repeat center/cover;
}
.user__title {
  color: var(--text-white);
  font-weight: 600;
}
.user__desc {
  color: var(--text-gray);
}

.btn {
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: 600;
  border: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.card__btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btn--secundary {
  background: none;
  color: var(--text-gray);
  border: 3px solid var(--text-gray);
}
.btn--primary {
  background: var(--primary);
  color: var(--text-white);
}

/* glassmorphism */
.card::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff28;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}
.card:hover::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}
.card:hover {
  border: 1px solid #fffffff4;
  box-shadow: 0 7px 20px 10px #ffffff6d;
  transform: scale(1.015);
  transition: all 0.7s ease;
}
